/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 févr. 2021, 16:22:28
    Author     : arsla
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500?700');
body{
    margin:0;
    padding:3%;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#fff;
    font-family: 'Ubuntu', sans-serif;
}
.container
{
    width: auto;
    height: auto;
    margin:0 auto;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(300px,1fr));*/
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width:1300px)
{
    .container{grid-template-columns: 25% 25% 25% 25%;}
}

@media screen and (max-width:860px)
{
    .container{grid-template-columns: 33% 33% 33%;}
}

@media screen and (max-width:660px)
{
    .container{grid-template-columns: 50% 50%;}
}


.container .box
{
    position: relative;
    padding: 40px 5px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    border: solid;
}

.container .box h3
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color:black;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.container .box p
{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 18px;
    color:black;
    text-align: justify;
}

img {
    width: 100%;
    height: auto;
  }

.container .box .prix{
    float:right;
    border: solid;
    padding: 10px;
}

.basket
{
    content: '\f291';
    font-family:fontAwesome;
    line-height: 40px;
}

.addToCart
{
    display: flex;
    justify-content:space-between;  
    margin: 20px;
}


/*btn panier*/
form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }