/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 févr. 2021, 10:29:25
    Author     : mamad
*/


.ajouter{
    float: left;
}

.prix{
    float: right;
}

.prixPanier{
    color:white;
}

.dispo{
    float: left; 
    width: 500px;
}
