/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 févr. 2021, 10:29:25
    Author     : mamad
*/


.ajouter{
    float: right;
}

.prix{
    float: left;
}

.prixPanier{
    color:white;
}

.dispo{
    float: left; 
    width: 500px;
}
.quantite{
    width: 30%;
    height: 30px;
}

h7{
    font-weight: bold;
    font-style: oblique;
}

.nbplaces{
    font-style: italic;
    color: #7d8084;
}

.titre-promo{
    background-color: red;
}



