<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>viewPanier</servlet-name>
        <servlet-class>miage.ctrl.viewPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>panier</servlet-name>
        <jsp-file>/jsp/panier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>newservlet</servlet-name>
        <servlet-class>miage.ctrl.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>articles</servlet-name>
        <jsp-file>/articles.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlListeArticles</servlet-name>
        <servlet-class>miage.ctrl.CtrlListeArticles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <jsp-file>/jsp/Connexion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlConnexion</servlet-name>
        <servlet-class>miage.ctrl.CtrlConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestAffichageSession</servlet-name>
        <jsp-file>/jsp/AfficherSession.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlAjouterArt</servlet-name>
        <servlet-class>miage.ctrl.CtrlAjouterArt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <jsp-file>/jsp/Test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AjoutArt</servlet-name>
        <servlet-class>miage.ctrl.CtrlAjouterArt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlConfirmer</servlet-name>
        <servlet-class>miage.ctrl.CtrlConfirmer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <jsp-file>/jsp/newjsp.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>creneau</servlet-name>
        <jsp-file>/jsp/Creneau.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletCreneau</servlet-name>
        <servlet-class>miage.ctrl.CtrlCreneau</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestAjout</servlet-name>
        <jsp-file>/jsp/TestAjout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlPageArticle</servlet-name>
        <servlet-class>miage.ctrl.CtrlPageArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageArticle</servlet-name>
        <jsp-file>/jsp/PageArticle.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>newArticles</servlet-name>
        <jsp-file>/jsp/newArticles.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>conf</servlet-name>
        <jsp-file>/jsp/Confirmer.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlPageChoixMagasin</servlet-name>
        <servlet-class>miage.ctrl.CtrlPageChoixMagasin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixMagasin</servlet-name>
        <jsp-file>/jsp/ChoixMagasin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlChoixMagasin</servlet-name>
        <servlet-class>miage.ctrl.CtrlChoixMagasin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlConnexionPrepa</servlet-name>
        <servlet-class>miage.ctrl.CtrlConnexionPrepa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionPrepa</servlet-name>
        <jsp-file>/jsp/ConnexionPrepa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlListeCommandesPrepa</servlet-name>
        <servlet-class>miage.ctrl.CtrlListeCommandesPrepa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCommandesPrepa</servlet-name>
        <jsp-file>/jsp/ListeCommandePrepa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>miage.ctrl.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCmdEncours</servlet-name>
        <servlet-class>miage.ctrl.CtrlCmdEncours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeEnCours</servlet-name>
        <jsp-file>/jsp/CommandeEncours.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>accueil</servlet-name>
        <jsp-file>/jsp/Accueil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CtrlListeArticlesAccueil</servlet-name>
        <servlet-class>miage.ctrl.CtrlListeArticlesAccueil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewPanier</servlet-name>
        <url-pattern>/viewPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>panier</servlet-name>
        <url-pattern>/panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newservlet</servlet-name>
        <url-pattern>/newservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>articles</servlet-name>
        <url-pattern>/articles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlListeArticles</servlet-name>
        <url-pattern>/CtrlListeArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestAffichageSession</servlet-name>
        <url-pattern>/aff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutArt</servlet-name>
        <url-pattern>/ajout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConnexion</servlet-name>
        <url-pattern>/CtrlConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlAjouterArt</servlet-name>
        <url-pattern>/CtrlAjouterArt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConfirmer</servlet-name>
        <url-pattern>/CtrlConfirmer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creneau</servlet-name>
        <url-pattern>/creneau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreneau</servlet-name>
        <url-pattern>/ServletCreneau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestAjout</servlet-name>
        <url-pattern>/TestAjout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlPageArticle</servlet-name>
        <url-pattern>/CtrlPageArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageArticle</servlet-name>
        <url-pattern>/pagearticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newArticles</servlet-name>
        <url-pattern>/newArticles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conf</servlet-name>
        <url-pattern>/conf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlPageChoixMagasin</servlet-name>
        <url-pattern>/CtrlPageChoixMagasin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixMagasin</servlet-name>
        <url-pattern>/choixmagasin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlChoixMagasin</servlet-name>
        <url-pattern>/CtrlChoixMagasin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConnexionPrepa</servlet-name>
        <url-pattern>/CtrlConnexionPrepa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionPrepa</servlet-name>
        <url-pattern>/ConnexionPrepa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlListeCommandesPrepa</servlet-name>
        <url-pattern>/CtrlListeCommandesPrepa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCommandesPrepa</servlet-name>
        <url-pattern>/ListeCommandesPrepa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCmdEncours</servlet-name>
        <url-pattern>/CtrlCmdEncours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeEnCours</servlet-name>
        <url-pattern>/CommandeEnCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlListeArticlesAccueil</servlet-name>
        <url-pattern>/CtrlListeArticlesAccueil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
